<section id="reviews">
  <div class="spacing_y">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div id="customer-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#customer-slider" data-slide-to="0" class="active"></li>
              <li data-target="#customer-slider" data-slide-to="1"></li>
              <li data-target="#customer-slider" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
              <div class="carousel-item active py-5">
                <div class="container text-center col-10 col-sm-8 mx-auto">
                  <img src="../../assets/img/reviews/donnovan.jpg" alt="baner" class="img-fluid rounded-circle"
                    width="150" />
                  <div class="customer-text">
                    <h3 class="my-2">DONNOVAN MITCHEL</h3>
                    <p class="lead"><span><i class="fa fa-quote-left mr-2"></i></span>Fantastic experience with stuff in
                      this shop. Easy to find it.</p>
                    <div class="ratings">
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="container text-center col-10 col-sm-8 mx-auto">
                  <img src="../../assets/img/reviews/marko.jpg" alt="baner" class="img-fluid rounded-circle"
                    width="150" />
                  <div class="customer-text">
                    <h3 class="my-2">MARKO GAČANOVIĆ</h3>
                    <p class="lead"><span><i class="fa fa-quote-left mr-2"></i></span>The store did not have all the
                      items displayed on the website. Besides, I have no other objections.</p>
                    <div class="ratings">
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item py-5">
                <div class="container text-center col-10 col-sm-8 mx-auto">
                  <img src="../../assets/img/reviews/steven.jpg" alt="baner" class="img-fluid rounded-circle"
                    width="150" />
                  <div class="customer-text">
                    <h3 class="my-2">STEVEN NOLAN</h3>
                    <p class="lead"><span><i class="fa fa-quote-left mr-2"></i></span>Everything was fine for me. I wish
                      they had a bigger offer of computers that are cheaper.</p>
                    <div class="ratings">
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                      <i class="fa fa-star fa-2x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <a href="#customer-slider" class="carousel-control-prev" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#customer-slider" class="carousel-control-next" role="button" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
