<section id="newsletter">
  <div class="spacing_y">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto text-center">
          <h2 class="text-uppercase">newsletter</h2>
          <p>Subscribe and find out more from us!</p>
          <form>
            <div class="input-group mt-5 mb-4">
              <input type="email" class="form-control text-capitalize" placeholder="enter your email">
              <div class="input-group-text form-icon">
                <i class="fa fa-envelope"></i>
              </div>
            </div>
            <button type="submit" class="btn btn-yellow">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
